/MANIFEST.bak
/MYMETA.json
/MYMETA.yml
/Makefile
/*.obj
/Makefile
/Makefile.old
/VISA.bs
/VISA.def
/blib
/pm_to_blib
/vc90.pdb
/MYMETA.yml
/MYMETA.json
/MANIFEST.bak
/Lab-VISA-*.tar.gz
/VISA_def.old
/vc100.pdb
